*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color: #000000;
    display: flex;
    height: 100vh;
    
    align-items: left;
    background: #daf8ff;
    padding: 10px;
}
.content{
    position: absolute;
    display: grid;
    justify-content: left;
    width: 100%;
    gap: 40px;
}
.btn {
    padding: 0.3em 1em;
    background: none;
    border: 2px solid #fff;
    font-size: 25px;
    color: #000000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ffffff;
    font-weight:bolder;
    box-shadow: 0 2px 0 2px #000000;
}
.btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120px;
    background-color: #fff;
    top: 50%;
    transform: skew(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}
.btn:hover{
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}
.btn:hover::before {
    transform:  skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}
.btn:active{
    transform: scale(0.9);
}
.title{
    align-items: center;
    width: 700px;
    height: 120px;
    
    padding: 25px 30px;
    border-radius: 25px;
    background:#2e2e2efa;
}
h1{
    font-size: 35;
    position: absolute;
    align-items:baseline;
}
h2 {
    position: absolute;
    align-items:center;
    margin-top: 130px;
}
.container{
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
    max-width: 600px;
    height: 400px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: #0000001e;
}
.container .heading{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;

}
.container .heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000000
}
.container form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}
form .card-details .card-box{ 
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.card-details .card-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-details .card-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.card-details .card-box input:focus,
.card-details .card-box input:valid,
.card-details .card-box textarea{
    border-color: #000000;
}
form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom:  2px solid;

}
form .circal-form .category{
    margin-top: 10px;
    margin-bottom:  10px;
}
form .button{
    text-align: center;
}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #ffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #505050, #000000ca);
}

form select{
    padding: 10px 0;
    margin-top: 0px;
    height: 70%;
    width: 100%;
    outline: none;
    color: rgb(17, 13, 13);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: azure;
}
form .button option{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #ffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #fffd7e, #78ffc0ca);
}
form .button input:hover{
    background: #000000;
}


@media (max-width:584px) {
    .container{
        max-width: 100%;
    }
     form .card-details .card-box{
        margin-bottom: 15px;
        width: 100%;
     }
     form .circal-form .category{
        width: 100%;
       
     }
     .container form .card-details{
        max-height: 300px;
        overflow: scroll;
     }
     .card-details::_webkit-scrollbar{
        width: 0;
     }
}
